<div class="container-fluid ps-0">
    <div class="row align-items-center">
        <div class="col-7 p-0 overflow-hidden">
            <img class="vh-100" src="/assets/portada.png" alt="">
        </div>
        <div class="col-5">
            <div class="text-center">
                <img width="50%" src="/assets/logo.png">
            </div>
            <div class="loginBox">
                <form [formGroup]="loginForm" style="width: 70%;">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Usuario</label>
                        <input type="email" class="form-control" placeholder="Ingrese su usuario"
                            formControlName="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña"
                            formControlName="password">
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success" (click)="authenticate()">Iniciar
                            Sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>