<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form #form="ngForm" [formGroup]="categoriaform">
        <div fxLayout="Column" fxFlex="100%">
            <mat-form-field fxFlex="100%">
                <mat-label >Nombre</mat-label>                           
                <input (keypress)="validateOnlyLetter($event)" (paste)="onPasteLetter($event)" matInput  formControlName="nombre">       
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions  style="justify-content:end;">
    <button class="m-1" type="button" (click)="cancel()" mat-raised-button color="">Cancelar</button>
    <button [disabled]="!form.valid" mat-raised-button (click)="guardar()" color="warn">{{data.boton}}</button>
</div>

