<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form #form="ngForm" [formGroup]="categoriaform">
        <div fxLayout="Column" fxFlex="100%">
            <mat-form-field appearance="fill" fxFlex="100%" >
                <mat-label>Categoria</mat-label>
                <mat-select placeholder="" formControlName="categoria">
                    <mat-option  [value]="-1">--Ninguno--</mat-option>
                    <!--[value]="maestro.prefijo" setea el valor del select a prefijo-->
                      <mat-option  *ngFor="let categ of categorias" [value]="categ.id">
                          {{categ?.nombre}}
                      </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100%">
                <mat-label >Nombre</mat-label>                           
                <input matInput  formControlName="nombre">       
            </mat-form-field>
            <mat-form-field fxFlex="100%">
                <mat-label >Presentacion</mat-label>                           
                <input matInput  formControlName="presentacion">       
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions  style="justify-content:end;">
    <button type="button" (click)="cancel()" mat-raised-button color="">Cancelar</button>
    <button [disabled]="!form.valid" mat-raised-button (click)="guardar()" color="warn">{{data.boton}}</button>
</div>

